.blogSectionsContainer {
  width: 100%;

  .blogSectionTitleContainer {
    color: black;
  }
}

.blogSection {
  padding-bottom: 5vw;
  .border {
    width: 100%;
    height: 2px;
    background-color: black;
  }
}

.blogContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;

  .blogMainTextContainer {
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blogMainText {
  white-space: pre-line;
  color: black;

  width: 90%;
  font-variation-settings: "wght" 500;
  line-height: 1.9rem;
  font-size: 1.1rem;

  a {
    font-variation-settings: "wght" 700 !important;
    color: black;
    text-decoration: underline;
  }
}

.blogSubText {
  padding-top: clamp(20px, 5vw, 40px);
  font-variation-settings: "wght" 300;
  font-size: 1rem;
  line-height: 1.9rem;
  font-family: "font-Gogh-italic", sans-serif;
  font-style: italic;
  width: 95%;

  @media screen and (max-width: 1000px) {
    width: 55%;
  }
}

.blogSectionUl {
  .blogLi {
    .blogLiText {
      font-variation-settings: "wght" 500;
      color: black;

      strong {
        font-variation-settings: "wght" 800;
      }

      a {
        text-decoration: underline;
      }
      padding-bottom: 1vw;
      padding-top: 1vw;
    }

    &::marker {
      color: black;
    }
  }
  width: 80%;
  margin-left: 5vw;
}

.codeSection {
  width: clamp(80vw, 80vw, var(--InlineWidth));
  background-color: black !important;
  color: white;
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 0.9rem;
  padding: 5rem;

  overflow-x: auto;
  line-height: 1.6;
  white-space: pre-wrap;

  scroll-behavior: none;
}
