.servicesComponentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: 600;
}

.thin {
  font-weight: 400;
}

.sectionContainer {
  width: 100%;
  height: 600px;

  .contentContainer {
    width: fit-content;

    .section {
      border-top: 2px solid black;
      color: black;
    }
  }
}

.typeServiceSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  min-height: 60vw;

  .typeServicesContainer {
    padding-top: 140px;
    padding-bottom: 150px;
    max-width: var(--InlineWidth);
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    .innerWidthContainer {
      width: var(--inlineContentWidth);

      min-height: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .typeServicesTitle {
        font-size: 7vw;
        line-height: 7vw;

        width: 40%;
        font-family: "font-Gogh", sans-serif;

        @media screen and (max-width: 700px) {
          font-size: 20vw;
          line-height: 20vw;
          margin-left: -30px;
        }
      }

      .typeServicesIconsContainer {
        margin-top: 7vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 700px) {
          display: none;
        }

        .outerContainer {
          border: 20px solid black;
          position: relative;
          background-color: black;
          min-width: 145px !important;

          .outerBorder {
            height: 100%;
            width: 100%;
            border: 2px solid white;

            .imageEmpty {
              height: 100%;
              width: 170px;
            }

            @media screen and (max-width: 1200px) {
              border: none;
              background-color: none;

              .outerBorder {
                display: none;
              }
            }

            .serviceButtonEmpty {
              cursor: pointer;
              width: 100%;
              height: 80px;
              transition: background-color 0.2s ease, color 0.2s ease;
              color: black;
            }

            .innerContainer {
              position: absolute;
              left: -20px;
              top: -20px;
              border: 2px solid white;

              background-color: black;

              height: fit-content;

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              .image {
                filter: invert(1);
                height: 100%;
                width: 170px;
              }

              .serviceButton {
                cursor: pointer;
                width: 100%;
                min-height: 80px;
                border-top: 2px solid white;
                transition: background-color 0.2s ease, color 0.2s ease;

                font-weight: 550;
                padding: 10px;
              }

              &:hover {
                .serviceButton {
                  background-color: white;
                  color: black;
                }
              }
            }
          }
        }
      }

      .typeServiceText {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        .typeServiceTextOne {
          max-width: 60%;
          span {
            .bold,
            .thin {
              margin: 0 auto;
            }
          }
        }
      }

      .typeServiceTextTwo {
        width: 30%;
        max-width: 250px;
        span {
          .thin {
          }

          .mailButton {
            cursor: pointer;
            .bold {
            }
          }
        }
      }
    }
  }
}
