.servicesComponentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .borderDiv {
    height: 2px;
    background-color: black;
    width: var(--inlineContentWidth);
  }
}

.sectionsSection {
}

.sectionsContainer {
  margin-top: 150px;
  width: 100%;
  min-height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;

  .contentContainer {
    max-width: var(--InlineWidth);
    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      header {
        width: 100%;
        border-bottom: 2px solid black;

        @media screen and (max-width: 70rem) {
          width: var(--inlineContentWidth);
        }

        .sectionsTitle {
          width: 100%;
        }
      }

      .sectionWrapper {
        margin-top: 100px;
        margin-bottom: 100px;
        width: var(--inlineContentWidth);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .sectionContent {
          color: black;

          width: 50%;
        }

        .imageContainer {
          width: 300px;
          height: 400px;
        }

        @media screen and (max-width: 1000px) {
          .sectionContent {
            width: 50%;
          }
          .imageContainer {
            width: 30vw;
            height: 33vw;
          }
        }

        @media screen and (max-width: 850px) {
          flex-direction: column;
          align-items: center;

          .sectionContent {
            width: 80%;
          }
          .imageContainer {
            margin-top: 7vw;
          }
        }

        @media screen and (max-width: 700px) {
          .sectionContent {
          }

          .imageContainer {
          }
        }
      }
    }
  }
}
.typeServiceSectionContainer {
  .titleContainer {
    width: 40%;

    @media screen and (max-width: 1000px) {
      width: 80%;
    }
  }

  @media screen and (max-width: 700px) {
    align-items: center;
  }

  .typeServicesIconsContainer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;

    @media screen and (max-width: 700px) {
      display: none;
    }

    .outerContainer {
      background-color: black;

      height: 250px;
      width: 170px;
    }

    @media screen and (max-width: 1000px) {
      .outerContainer {
        height: 25vw;
        width: 15vw;
      }
    }

    @media screen and (max-width: 700px) {
      display: none;
      .outerContainer {
        height: 200px;
        width: 130px;
      }
    }
  }

  .typeServiceText {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    .typeServiceTextOne {
      max-width: 60%;
    }

    .typeServiceTextTwo {
      width: 30%;
      max-width: 250px;
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;

      .typeServiceTextOne,
      .typeServiceTextTwo {
        width: 100%;
        max-width: 80%;
      }

      .typeServiceTextTwo {
        margin-top: 6vw;
      }
    }
  }
}
