.servicesComponentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .borderDiv {
    width: var(--InlineWidth);
    height: 2px;
    background-color: black;
  }
}

.bold {
  font-weight: 600;
}

.thin {
  font-weight: 400;
}

.sectionsSection {
}

.sectionsContainer {
  margin-top: 150px;
  width: 100%;
  min-height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;

  .contentContainer {
    max-width: var(--InlineWidth);
    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      header {
        width: 100%;
        border-bottom: 2px solid black;
      }

      .sectionWrapper {
        margin-top: 100px;
        margin-bottom: 100px;
        width: var(--inlineContentWidth);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .sectionContent {
          color: black;

          width: 50%;

          .bold {
            padding-bottom: 30px;
          }

          .thin {
            padding-top: 30px;
          }
        }

        .imageContainer {
          width: 300px;
          height: 400px;
        }
      }
    }
  }
}

.typeServiceSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  min-height: 60vw;

  .typeServicesContainer {
    padding-top: 140px;
    padding-bottom: 150px;
    max-width: var(--InlineWidth);
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    .innerWidthContainer {
      width: var(--inlineContentWidth);

      min-height: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .typeServicesTitle {
        font-size: 7vw;
        line-height: 7vw;

        width: 40%;
        font-family: "font-Gogh", sans-serif;

        @media screen and (max-width: 700px) {
          font-size: 20vw;
          line-height: 20vw;
          margin-left: -30px;
        }
      }

      .typeServicesIconsContainer {
        margin-top: 7vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;

        @media screen and (max-width: 700px) {
          display: none;
        }

        .outerContainer {
          background-color: black;

          height: 250px;
          width: 170px;
        }
      }

      .typeServiceText {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        .typeServiceTextOne {
          max-width: 60%;
          span {
            .bold,
            .thin {
              margin: 0 auto;
            }
          }
        }
      }

      .typeServiceTextTwo {
        width: 30%;
        max-width: 250px;
        span {
          .thin {
          }

          .mailButton {
            cursor: pointer;
            .bold {
            }
          }
        }
      }
    }
  }
}
