.aboutUsComponentContainer {
  .aboutUsContentContainer {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;

    .leftContainer {
      width: 55%;
    }

    .rightContainer {
      width: 30%;
    }

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }

    .rightContainer {
      margin-top: 5vw;
    }
  }
}
