.imageWheelContainer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  .mediaElementsContainer {
    width: 100%;
    height: 100%;

    .mediaAndPointers {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      position: relative;

      .leftSide {
        left: 2vw;
      }

      .rightSide {
        right: 2vw;
        transform: rotateY(180deg);
        order: 3;
      }

      .leftSide,
      .rightSide {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 50%;
        top: 0;

        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      @media screen and (max-width: 1000px) {
      }
    }
  }

  .imageWheelImage {
    min-width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .imageWheelDotsContainer {
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}

.imageWheelDots {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100px;
  }

  .fontInfoImageWheeldot {
    transition: box-shadow 0.6s ease;
    cursor: pointer;
    height: clamp(16px, 1.5vw, 24px);
    width: clamp(16px, 1.5vw, 24px);
    box-shadow: 0 0 0 2px #000000 inset;
    background-color: rgb(255, 255, 255);
    border-radius: 90px;

    margin: 7px;

    @media screen {
    }
  }

  .activeDot {
    transition: box-shadow 0.4s ease;
    box-shadow: 0 0 0 12px #000000 inset !important;
  }
}
