.subscribeComponentSection {
  width: 100%;
  height: 700px;
  color: black;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  .subscribeComponentContainer {
    max-width: var(--InlineWidth);
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    .innerWidthContainer {
      width: var(--inlineContentWidth);
      display: flex;
      justify-content: space-between;
      align-items: center;

      min-height: 400px;

      .enterEmailAndOrSubContainer {
        max-width: 50%;
      }

      .subscribeInfoComponentContainer {
        max-width: 40%;
      }

      @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .enterEmailAndOrSubContainer {
          max-width: 80%;
        }

        .subscribeInfoComponentContainer {
          max-width: 80%;
        }
      }

      .enterInfoContainer {
        max-width: 100%;
      }
    }
  }
}

.inputContainer {
  position: relative;

  &:hover {
    .inputSmallBox {
      visibility: visible;
    }
  }

  .input {
    width: 100%;
    padding: 20px;

    border: 2px solid black;
    color: black;
  }

  .inputSmallBox {
    transition: visibility 0.2s ease-in-out;
    visibility: hidden;
    position: absolute;

    width: 10px;
    height: 10px;
    border: 2px solid black;
    background-color: white;
  }

  .inputSmallBox:nth-of-type(1) {
    left: 0;
    margin-left: -2.5px;
    margin-top: -2.5px;
  }

  .inputSmallBox:nth-of-type(2) {
    right: 0;
    margin-right: -2.5px;
    margin-top: -2.5px;
  }

  .inputSmallBox:nth-of-type(3) {
    bottom: 0;
    margin-bottom: -2.5px;
    margin-left: -2.5px;
  }

  .inputSmallBox:nth-of-type(4) {
    right: 0;
    bottom: 0;
    margin-right: -2.5px;
    margin-bottom: -2.5px;
  }

  .subBtnContainer {
    position: absolute;
    top: 2px;
    right: 2px;

    height: 94%;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subscribeContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;

  .button {
    margin-top: 4px;
    margin-right: 10px;
    border: 2px solid black;
    height: 20px;
    min-width: 20px;
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    .circle {
      background-color: black;
      border-radius: 2px;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);

      height: 0px;
      width: 0px;
    }
  }

  .subscribeText {
    font-weight: 400;
  }
  .button:hover {
    .circle {
      height: 8px;
      width: 8px;
    }
  }
}

.subscribeInfo {
  width: 100%;
  margin-top: clamp(3px, 3vh, 20px);

  @media screen and (max-width: 1000px) {
    width: 80%;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  .subInfoTextContainer {
    .subInfoText {
      font-weight: 300;
      color: rgb(144, 144, 144);
      font-size: clamp(0.7rem, 2vw, 1rem);
    }

    button {
      color: gray;
      cursor: pointer;
      position: relative;

      font-weight: 500;

      .underline {
        position: absolute;
        bottom: 0;
        width: 0%;

        transition: width 0.2s ease;
      }

      &:hover {
        .underline {
          width: 100%;
          border-bottom: 1px solid gray;
        }
      }
    }
  }
}

.subscribeButtonContainer {
  cursor: pointer;
}
