.openTypeComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .titleContainer {
    border-bottom: 2px solid black;
    width: 120%;
  }

  .openTypesectionsContainer {
    display: flex;
    justify-content: space-between;

    .leftSection {
      width: 60%;

      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: flex-end;
      align-items: flex-end;

      position: relative;
      .fontDisplay {
        width: 100%;

        padding-bottom: 60px;
        color: black;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        position: relative;

        .presentationNormal {
          transition: opacity 0.4s ease;

          width: fit-content;

          .presentationText {
            font-size: 2rem;
            height: fit-content;
          }

          font-variation-settings: "wght" 400;
          line-height: 40px;
        }

        .presentation {
          transition: opacity 0.4s ease;
          top: 0;
          width: fit-content;
          position: absolute;

          .presentationText {
            font-size: 2rem;
            height: fit-content;
          }

          font-variation-settings: "wght" 400;
          line-height: 40px;
        }

        .info {
          font-size: 1.1rem;
          font-variation-settings: "wght" 400;
        }
      }

      @media screen and (max-width: 1000px) {
        max-height: 600px;
        overflow-y: scroll;
        scrollbar-width: thin;
        -webkit-overflow-scrolling: touch;
        min-width: 340px;

        .fontDisplay {
          padding-bottom: 40px;

          .presentation {
          }
        }

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #888;
          border-radius: 6px;
          border: 3px solid #f1f1f1;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #555;
        }
      }

      @media screen and (max-width: 700px) {
        max-height: 600px;
        grid-template-columns: 100%;

        min-width: 150px;
      }
    }

    .rightSection {
      width: 35%;
      position: relative;

      .rightText {
        top: 120px;

        @media screen and (min-width: 1000px) {
          position: sticky;
        }
      }
    }

    .leftSection,
    .rightSection {
      padding-top: 100px;
    }
  }
}
