.headerSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .headerBio {
    margin-left: 5vw;
    width: 100%;

    .headerContainer {
      padding-top: 5vw;
      padding-bottom: 2vw;
    }

    .dateContainer {
      padding-bottom: 5vw;
      .dateText {
        color: black;
      }
    }

    .headerSectionText {
      padding-bottom: 5vw;
      padding-top: 5vw;
    }

    @media screen and (max-width: 1000px) {
      width: 65%;
    }
  }
}

.headerSectionsContainer {
  padding-left: 2vw;
  .headerSection {
    padding-top: 1vw;
    padding-bottom: 1vw;

    color: black;

    &::marker {
      font-size: 1.8vw;
    }

    .headerLiButton {
      cursor: pointer;

      .underLine {
        transition: width 0.2s ease-out;
        width: 0%;
        height: 3.5px;
        background-color: black;
        opacity: 0;
      }

      &:hover {
        .underLine {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}
