.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;

  width: var(--AppWidth);
  max-width: var(--AppWidthMax);
}

.forwardWelcome {
  margin-top: 90px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  cursor: pointer;

  .welcomeTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .welcomeText {
      display: flex;
      transition: all 0.2s ease;
      font-size: 300px;
      padding: 110px;

      user-select: none;
    }
  }
}

.typeFaceSection {
  margin-top: 100px;

  color: black;
  background-color: white;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .typeFaceSectionTitle {
    width: var(--InlineWidth);
    h1 {
      font-family: sans-serif;
      font-weight: 400;
    }
  }

  .typeFaceSectionContainer {
    width: var(--InlineWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .typeFace {
      border-top: 2px solid black;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .innerWidthContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 90%;

        .buyDownloadButtonsContainer {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          width: 30%;

          .typeButtonBuyContainer {
          }

          .typeButtonDownloadContainer {
            button {
              color: black;
            }
          }

          .typeButtonDownloadContainer,
          .typeButtonBuyContainer {
            position: relative;
            width: 170px;
            height: 70px;

            border: 2px solid black;
            span {
              transition: background-color 0.2s ease-out;
              position: absolute;
              width: 170px;
              height: 70px;
              border: 2px solid black;
              background-color: white;

              left: -10%;
              top: -20%;

              display: flex;
              justify-content: center;
              align-items: center;

              .buttonFont {
                font-weight: 400;
              }
            }

            Link,
            button {
              cursor: pointer;
            }

            span:hover {
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }
}

.typeFaceContainer {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;

  .typeFaceName {
    font-size: 120px;
    max-width: 500px;

    line-height: 130px;

    margin-bottom: 30px;
  }

  .typeFaceDescription {
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 10px;
  }

  .fontAvaliableContainer {
    display: flex;
    margin-left: 10px;
    h4 {
      margin-right: 10px;
      font-family: sans-serif;
      font-weight: 200;
    }
  }
}

.serviceSection {
  background-color: black;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .typeServicesContainer {
    width: var(--InlineWidth);
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 50px;

    .innerWidthContainer {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .serviceTitle {
        font-size: 100px;
        line-height: 100px;
      }

      .componentText {
        .bold {
        }

        .thin {
          font-weight: 400;
        }
      }

      .brSpaceOne {
        height: 50px;
      }

      .textPart {
        width: 55%;

        .brSpaceTwo {
          height: 80px;
        }
      }

      .imagePart {
        width: 30%;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .insideImagePart {
          width: 300px;
          height: 350px;
          border: 2px solid white;

          position: absolute;

          .borderContainer {
            position: absolute;

            right: 30px;
            bottom: 30px;
            width: 300px;

            height: 350px;
            border: 2px solid white;
            background-color: black;
            img {
              filter: invert(1);
            }
          }
        }
      }
    }
  }
}
