.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;

  width: 100vw;
}

.forwardWelcome {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 665px;

  @media screen and (max-width: 1000px) {
    height: 350px;

    .welcomeTextContainer {
      .welcomeText {
        font-size: 200px !important;
      }
    }

    @media screen and (max-width: 700px) {
      height: 300px;

      .welcomeTextContainer {
        .welcomeText {
          font-size: 150px !important;
        }
      }
    }

    @media screen and (max-width: 400px) {
      display: none;
    }
  }

  .welcomeTextContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .welcomeText {
      display: flex;
      transition: all 0.2s ease;
      font-size: 300px;

      user-select: none;

      padding: 0;
      margin: 0;
    }
  }
  .dotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    padding: 20px;

    cursor: pointer;
  }
}

.currentImageDotCompContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  cursor: pointer;

  .dot {
    cursor: pointer;
    border-radius: 90px;
    margin: 3.5px;
    transition: all 0.2s ease;
    background-color: white;
    height: 15px;
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      height: 15px;
      width: 22px;

      margin: 2.5px;
      .innerDot {
        height: 10px;
        width: 12px;
      }
    }
  }

  .activeDot {
    height: 15px !important;
    width: 30px !important;
    margin: 3.5px !important;

    .innerDot {
      height: 10px !important;
      width: 18px !important;
    }
  }

  .innerDot {
    transition: all 0.2s ease;
    background-color: black;
    height: 10px;
    width: 10px;

    border-radius: 90px;
  }
}

.typeFaceSection {
  color: black;
  background-color: white;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  .typeFaceSectionTitle {
    max-width: var(--InlineWidth);

    width: 100%;

    h1 {
      font-family: "font-Gogh", sans-serif;
      font-weight: 400;
    }

    @media screen and (max-width: 700px) {
      width: 70%;
    }
  }

  .typeFaceSectionContainer {
    max-width: var(--InlineWidth);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .typeFace {
      border-top: 2px solid black;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      @media screen and (max-width: 700px) {
        width: 70%;
        justify-content: flex-start;
      }

      .innerWidthContainer {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: var(--inlineContentWidth);

        @media screen and (max-width: 700px) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .buyDownloadButtonsContainer {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          width: 30%;

          @media screen and (max-width: 700px) {
            flex-direction: column;
            margin-left: 15px;

            align-items: flex-start;

            height: 160px;
          }

          .typeButtonBuyContainer {
          }

          .typeButtonDownloadContainer {
            button {
              color: black;
            }
          }

          .typeButtonDownloadContainer,
          .typeButtonBuyContainer {
            position: relative;
            width: 170px;
            height: 70px;

            border: 2px solid black;
            span {
              transition: background-color 0.2s ease-out;
              position: absolute;
              width: 170px;
              height: 70px;
              border: 2px solid black;
              background-color: white;

              left: -10%;
              top: -20%;

              display: flex;
              justify-content: center;
              align-items: center;

              .buttonFont {
                font-weight: 400;
              }
            }

            Link,
            button {
              cursor: pointer;
            }

            span:hover {
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }
}

.typeFaceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;

  @media screen and (max-width: 700px) {
    width: 70%;
    margin-bottom: 20px;
    align-items: flex-start;
  }

  .typeFaceName {
  }

  .typeFaceDescription {
    font-family: "font-Gogh", sans-serif;
    font-weight: 450;
    margin-left: 5px;
  }

  .fontAvaliableContainer {
    display: flex;
    .fontInfoBtn {
      cursor: pointer;
      .fontInfo {
        width: 100%;

        font-family: "font-Gogh", sans-serif;
        font-weight: 450;
        color: black;
      }

      .fontUnderline {
        background-color: black;
        height: 2px;
        width: 0px;
        transition: width 0.2s ease;
      }

      &:hover {
        .fontUnderline {
          width: 100%;
        }
      }
    }

    .fontInfoBtn:nth-of-type(1) {
      margin-right: 15px;
      margin-left: 5px;
    }
  }

  @media screen and (min-width: 1000px) {
    min-height: 400px;
    .typeFaceName {
      margin-bottom: 30px;
      font-size: 120px;
      line-height: 130px;
    }
  }

  @media screen and (max-width: 1000px) {
    .typeFaceName {
      font-size: 80px;
      line-height: 90px;
    }
  }

  @media screen and (max-width: 400px) {
    .typeFaceName {
      font-size: 50px;
      line-height: 60px;
    }
  }
}

.typeServiceContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  .textPart {
    width: 60%;
  }

  .imagePartContainer {
    width: 20vw;
    height: 30vw;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    .textPart {
      order: 1;
    }

    .imagePartContainer {
      margin-top: 30px;
      order: 2;
    }

    @media screen and (max-width: 500px) {
      .innerWidthContainer {
        .imagePartContainer {
        }
      }
    }

    @media screen and (min-width: 1000px) {
      .innerWidthContainer {
        .imagePartContainer {
          height: 400px;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      .innerWidthContainer {
        .imagePartContainer {
          height: 250px;
        }
      }
    }
  }
}

.downloadFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 550px;

  height: 70vh;
  max-height: 550px;
  z-index: 3;
  transition: all 0.3s ease;

  @media screen and (max-width: 1440px) {
    position: fixed;
    right: 50px;
    top: 140px;
  }

  @media screen and (min-width: 1440px) {
    position: absolute;
    right: -150px;
    top: -150px;
    bottom: 0px;
  }

  @media screen and (max-width: 800px) {
    width: 400px;
    right: 50px;
  }

  .formIsVisible {
    transition: opacity 0.5s ease;
    background-color: rgba(255, 255, 255, 0.55);
    opacity: 0;
    height: 100vh;
    width: 100vw;

    position: fixed;

    left: 0;
    top: 0;

    margin: 0;
    color: black;

    z-index: 1;

    overflow: hidden;
  }

  .outContainerStyle {
    border: 2px solid black;
    background-color: white;
    z-index: 3;
    .innerContainer {
      position: relative;
      left: -20px;
      top: -20px;
      background-color: white;
      border: 2px solid black;

      width: 100%;
      height: 100%;

      padding: 20px;

      z-index: 3;

      .closeContainer {
        width: 50px;
        height: 50px;
        border-radius: 99px;

        font-size: 30px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 300;
        transition: background-color 0.2s ease;

        button {
          width: 100%;
          height: 100%;
          cursor: pointer;
          color: black;
          transition: color 0.2s ease;
        }

        &:hover {
          background-color: black;
          button {
            color: white;
          }
        }
      }

      .contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 60vh;
        max-height: 550px;
        min-width: 400px;
        padding-left: 50px;
        padding-right: 70px;
        padding-bottom: 70px;
        .titleContainer {
          width: 100%;
          .title {
            font-size: 50px;
          }
        }
      }
    }

    .subinfoContainer {
      .subinfo {
      }
    }

    .enterEmailContainer {
    }
  }
}
