.forwardWelcome {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  .welcomeTextContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .welcomeText {
      display: flex;
      transition: all 0.2s ease;
      font-size: 300px;
      padding: 110px;
    }
  }
}

.typeFaceSection {
  margin-top: 100px;

  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .typeFaceSectionTitle {
    width: var(--InlineWidth);

    h1 {
      font-family: sans-serif;
      font-weight: 400;
    }
  }
  .typeFaceComponent {
    width: var(--InlineWidth);
    border-top: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.typeFaceContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 70%;

  .typeFaceName {
    font-size: 120px;
  }

  .typeFaceDescription {
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 10px;
  }

  .fontAvaliableContainer {
    display: flex;
    margin-left: 10px;
    h4 {
      margin-right: 10px;
      font-family: sans-serif;
      font-weight: 200;
    }
  }
}
