.navBarContainer {
  background-color: black;
  border-bottom: 2px solid white;
  position: fixed;

  z-index: 1000;
  top: 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoSVG {
  svg {
    cursor: pointer;
    width: 50px;
    height: 100px;
  }

  #darkGroup {
    fill: white;
  }

  #lightGroup {
    fill: white;
  }

  #darkOne,
  #lightOne,
  #darkTwo {
    transition: all 0.5s ease-out;
  }
  #darkTwo {
    transform: translateX(-100%);
  }
}

.isHover {
  #lightOne {
    transform: translate(40%);
  }

  #darkOne {
    transform: translateX(50%);
    opacity: 0;
  }

  #darkTwo {
    transform: translateX(10%);
  }
}

.LogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  padding: 15px;

  .logoTitle {
    max-width: 50%;
    font-family: "font-Oddval", sans-serif;
    line-height: 30px;
    font-weight: 500;

    &:hover {
    }
  }

  .SVGContainer {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(218%, -18%);
  }
}

.navBarUl {
  width: var(--InlineWidth);

  display: flex;
  justify-content: space-between;

  .LinksContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .uniqueLinkContainer {
      cursor: pointer;
      position: relative;
      height: 100%;

      padding: 20px;

      .keyTextSpan {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-variation-settings: "wght" 500;
        transition: font-variation-settings 0.3s ease;

        .keyText {
        }
      }

      &:hover .keyTextSpan {
        font-variation-settings: "wght" 820;
      }
    }

    .keyTextSpanHidden {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .LogoSVG {
    svg {
      width: 40px !important;
      height: 80px !important;
    }
  }

  .LogoContainer {
    .SVGContainer {
      position: absolute;
      top: 0;
      left: 0;

      transform: translate(200%, -11%);
    }
  }
}

@media screen and (max-width: 800px) {
  .LogoContainer {
    .SVGContainer {
      position: absolute;
      top: 0;
      left: 0;

      transform: translate(180%, -11%);
    }
  }
}
