.navBarContainer {
  background-color: black;

  position: fixed;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .navBarUl {
    width: var(--InlineWidth);

    height: 70px;
    display: flex;
    justify-content: space-between;

    .LinksContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .uniqueLinkContainer {
        padding: 10px;
        cursor: pointer;
        position: relative;
        height: 100%;

        .keyTextSpan {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          font-variation-settings: "wght" 500;
          transition: font-variation-settings 0.3s ease;

          .keyText {
          }
        }

        &:hover .keyTextSpan {
          font-variation-settings: "wght" 820;
        }
      }

      .keyTextSpanHidden {
        opacity: 0;
      }
    }
  }
}
