#imageContainerBlob {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100%;
  min-height: 300px;
  transition: all ease 0.5s;
}

#imageContainerBlob > * {
  position: absolute;
  inset: 0;
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;

  canvas {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  #imageContainerBlob {
    width: 100%;
    height: 100%;
    min-height: 250px;
  }
}
