canvas {
  display: block;
}

#imageContainer {
  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 40rem;
  transition: all ease 0.5s;
}

#imageContainer > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  #imageContainer {
    width: 20rem;
    height: 15rem;
  }
}
