.profileContainer {
  padding-bottom: 50px;
  .profileNameContainer {
    min-width: 120%;
    margin-left: -10%;

    .profileName {
    }
  }

  .profileContent {
    margin-top: 5vw;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;

    .leftSide {
      width: 55%;
      order: 1;
    }

    .rightSide {
      width: 35%;
      min-width: 250px;
      order: 2;
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column;

      .leftSide {
        width: 80%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .rightSide {
        order: var(--flex-order);
      }
    }
  }
}

.profilePictureContainer {
  height: 100%;
  position: relative;

  .firstImage {
    z-index: 1;
  }

  .secondImage {
    transition: all 0.2s ease;
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.socialsIconsContainer {
  display: flex;
  width: fit-content;

  .linkImagesContainer {
    min-width: fit-content;

    .iconButtonContainer {
      margin-left: 20px;
    }

    .iconButtonContainer:first-of-type {
      margin-left: 0px !important;
    }
  }
}
