:root {
  font-family: "font-Gogh", sans-serif;
  font-feature-settings: "liga", "dlig", "calt";
  line-height: 1.5;

  color-scheme: light dark;
  color: white;

  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --AppWidthMax: 1440px;
  --AppWidth: 100vw;
  --InlineWidth: 1150px;
  --inlineContentWidth: 80%;
}

.sectionWhite {
  background-color: #ffffff;
  width: 100vw;
}

.sectionBlack {
  background-color: #111111;
  color: white;

  width: 100vw;
}

@font-face {
  font-family: "font-Gogh";
  src: url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Gogh/fonts/GoghVariableVF.woff),
    url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Gogh/fonts/GoghVariableVF.woff2);

  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-Gogh-italic";
  src: url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Gogh/fonts/GoghVariableItalicVF.woff),
    url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Gogh/fonts/GoghVariableItalicVF.woff2);
}

@font-face {
  font-family: "font-Oddval";
  src: url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Oddval/fonts/OddvalVariable-VariableVF.woff2);

  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-Bion";
  src: url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Bion/fonts/BionVariableVF.woff),
    url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Bion/fonts/BionVariableVF.woff2);
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-Forward";
  src: url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/forwarfonts/dVF.woff),
    url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/forwarfonts/dVF.woff2);
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-EmOne";
  src: url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/EmOne/fonts/EmOneTVariable.woff),
    url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/EmOne/fonts/EmOneTVariable.woff2);
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-Garet";
  src: url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Garet/fonts/GaretVariableVF.woff),
    url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Garet/fonts/GaretVariableVF.woff2);
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-Steam";
  src: url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Steam/fonts/Steam-Base.woff),
    url(../public/resourceFolder_typeFoward/assets/typefaces/fonts/Steam/fonts/Steam-Base.woff2);
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
}

/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

ul,
ol {
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 0.9rem;
  }

  h3 {
  }
}
