.typefacesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .topBorder {
    width: 120%;
    border-bottom: 2px solid black;
    margin-bottom: 100px;
  }

  .typeInputTextsComponentContainer {
    width: 100%;
    position: relative;
  }
}

.inputsContainer {
  width: 100%;

  .fontsWrapper {
    padding-top: clamp(20px, 3vw, 60px);
    width: 100%;
    .fontText {
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    @media screen and (max-width: 1000px) {
      padding-left: 100px;
      margin-top: -350px;
    }
  }

  @media screen and (max-width: 700px) {
  }
}

.inputWithTextContainer {
  width: 100%;
  input {
    width: 100%;
    color: black;
    font-size: 4.5vw;

    spellcheck: false;
    -webkit-user-modify: read-write-plaintext-only;
  }
}

.fontTitle {
  font-size: 0.9rem;
  display: flex;
  font-variation-settings: "wght" 400;

  .freeContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.7rem;
    margin-right: 10px;
    background-color: black;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.fontVariationsContainer {
  display: flex;
  justify-content: space-between;
  width: fit-content;

  @media screen and (max-width: 1000px) {
    width: clamp(500px, 40vw, 550px);
  }

  @media screen and (max-width: 1000px) {
    position: sticky;
    top: 150px;

    margin-left: -65px;
    display: flex;
    flex-direction: column;

    height: 300px;
    width: fit-content;
  }
}

.buttonActive {
  border: 2px solid white;
  background-color: black;

  cursor: pointer;
  position: relative;

  button {
    cursor: pointer;
    color: white !important;
  }

  .smallDot {
    height: 12.5px;
    width: 12.5px;
    background-color: white;
    position: absolute;
    border: 2px solid black;
    opacity: 1 !important;

    &:nth-of-type(1) {
      transition: opacity 0.6s ease;
      left: -5px;
      top: -5px;
    }

    &:nth-of-type(2) {
      transition: opacity 0.5s ease;
      left: -5px;
      bottom: -5px;
    }

    &:nth-of-type(3) {
      transition: opacity 0.35s ease;
      right: -5px;
      top: -5px;
    }

    &:nth-of-type(4) {
      transition: opacity 0.65s ease;
      right: -5px;
      bottom: -5px;
    }
  }
}

.fontVariationButtonContainer {
  border: 2px solid black;

  width: clamp(160px, 10vw, 250px);
  height: clamp(70px, 5vw, 100px);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin-right: 2vw;

  button {
    font-weight: 600;
    cursor: pointer;
    color: black;

    .smallDot {
      opacity: 0;
    }
  }

  &:hover {
    transition: all 0.2s ease;
    background-color: black;
    button {
      transition: all 0.2s ease;
      color: white;
    }
  }

  @media screen and (max-width: 1000px) {
    width: clamp(120px, 10vw, 140px);
  }
}
